.git
.gitignore
.husky
*.zip
node_modules
dist
*.tsbuildinfo
api/node_modules
api/dist
api/coverage
api/*.tsbuildinfo
api/.env
api/.env.*
!api/.env.example
app/node_modules
app/.next
app/*.tsbuildinfo
app/.env
app/.env.*
!app/.env.example
npm-debug.log
.env
