COMPOSE_PROJECT_NAME=b8one

BACKEND_NODE_ENV=development
BACKEND_HTTP_PORT=3000
BACKEND_API_PREFIX=
BACKEND_DATABASE_HOST=postgres
BACKEND_DATABASE_PORT=5432
BACKEND_DATABASE_USERNAME=postgres
BACKEND_DATABASE_PASSWORD=postgres
BACKEND_DATABASE_NAME=b8one
BACKEND_DATABASE_SSL=false
BACKEND_REDIS_HOST=redis
BACKEND_REDIS_PORT=6379
BACKEND_REDIS_PASSWORD=
BACKEND_REDIS_TTL_SECONDS=300
BACKEND_JWT_ACCESS_TOKEN_SECRET=change-me-access-token-secret
BACKEND_JWT_ACCESS_TOKEN_EXPIRES_SECONDS=3600
BACKEND_TWO_FA_CODE_EXPIRATION_MINUTES=10
BACKEND_EMAIL_CONFIRMATION_EXPIRATION_HOURS=48
BACKEND_SMTP_HOST=
BACKEND_SMTP_PORT=587
BACKEND_SMTP_USER=
BACKEND_SMTP_PASS=
BACKEND_SMTP_FROM=no-reply@b8one.com

FRONTEND_NODE_ENV=production
FRONTEND_HTTP_PORT=3001
FRONTEND_NEXT_PUBLIC_APP_NAME="B8one Agendamentos"
FRONTEND_NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
FRONTEND_NEXT_PUBLIC_APP_BASE_URL=http://localhost:3001
FRONTEND_NEXT_PUBLIC_API_TIMEOUT_MS=120000
FRONTEND_NEXT_PUBLIC_AUTH_COOKIE_NAME=access_token

POSTGRES_DB=b8one
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HTTP_PORT=5432

REDIS_HTTP_PORT=6379

ADMINER_DEFAULT_SERVER=postgres
ADMINER_HTTP_PORT=5050
