NODE_ENV=development
HTTP_PORT=3000
API_PREFIX=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=b8one
DATABASE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TTL_SECONDS=300

JWT_ACCESS_TOKEN_SECRET=51fa6d45cf101f7b725bd0499e6ad5e661f2e8e3c2abc34fc6e5ce4b7b1a8fb1cfaccd1a4da7b843b9ef162bb71a19239c140093e9198d75aaa5a31b3c6f963a
JWT_ACCESS_TOKEN_EXPIRES_SECONDS=3600

TWO_FA_CODE_EXPIRATION_MINUTES=10

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@b8one.com
